@import "../variables.scss";

.container{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 95vw;
    height: 90vh;
    margin: auto;
    margin-top: 40px;
}

.logo{
    height: 17rem;
    margin-top: 106px;
}

.title{
    width: 90%;
    padding: 69px 0px 60px;
    margin: auto
}

.description{
    width: 90%;
    padding-bottom: 150px;
    margin: auto;
}

@include breakpoint(mobile) {
    .container{
        height: auto;
        margin-bottom: 40px;
    }
}